{% extends "base.html" %}
{% block title %}
	MusicStation| MainPage
{% endblock %}

{% block content%}
	
	<div class="offset-1 col-md-4 radioblock">
		<H4>Популярные станции </H4>
		{% for radio in radios %}
			<div class="radioblock__string d-flex justify-content-between">
				<a class= "radioblock__im" href="#">
					<img class = "radioblock__img" src="static/{{ radio.img }}" alt="">
				</a>
				<a href="{{ url_for('radiopage', radiokey = radio.id) }}">{{ radio.name }}</a>
			</div>
		{% endfor %}
	</div>

	<div class="offset-1 col-md-4 tagblock">
		<H4> Найди любимое </H4>
			<button type="button" class="btn btn-outline-danger btn-sm"> Тэг </button>
	</div>
	
{% endblock %}
		